<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Andrew\CustomCatalog\Api\ProductInterface" type="Andrew\CustomCatalog\Model\Api\Product"/>
    <preference for="Andrew\CustomCatalog\Api\Data\RequestProductInterface" type="Andrew\CustomCatalog\Model\Data\RequestProduct" />
</config>